-if !@collaborators.empty?
  - @collaborators.each do |c|
    =c.email
-else
  %a{:href => "#{new_project_collaborators_path(@project)}"}
    %button Create Collaboration
%button
  %i.fa.fa-bullhorn 
