.page-header
  %h1
    = @project.title
    %small= @project.client
    .pull-right
      %small= link_to "Edit |", edit_project_path(@project)
      %small= link_to "Delete", project_path(@project), method: :delete

=link_to "Add Deliverable", new_project_deliverable_path(@project)
